<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTest" thread-count="1" verbose="3">
	<listeners>
		<listener class-name="com.cucumberframework.listener.ExecutionListener"></listener>
	</listeners>
	<suite-files>
		<suite-file path="./baseRunnerSuite.xml" />
	</suite-files>
</suite>